<% @articles.each do |article| %>
  <p class = "h5 mt-2"><%= link_to article.title, article, class: "text-dark" %></p>
  <h5 class = "text-muted text-bold"><%= article.created_at.strftime("%b %d,%Y") %></h5>
  <p><%= truncate(article.body, :length => 100) %></p>
  <p><%= link_to "More details", article, class: "text-dark" %></p>
<% end %>